body {
    overflow: hidden !important;
    font-family: "DMSans-Regular" !important;
}

.container.root {
    margin:0 ;
    padding: 0;
}

.container-info {
  height:85vh;
}

.nav-bar {
  height:15vh; 
  margin: 0;

  background-color: rgb(248, 249, 250);
  border-bottom-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.nav-bar .logo-row {
    background-color: white;
    height:15vh; 
    margin: 0;
}

.user_side_menu{
  height:100%;
  margin:0;
  background-color: #eda73d;
  font-family: "DMSans-Regular";

}

.container_img {
    height: 100%;
    width: auto;
}

.invisible_button {
    background: transparent none repeat scroll 0% 0% !important;
    border: medium none !important;
    color: white;
    width: 100%;
    text-align: inherit;
    text-align: center;
}

.invisible_button:focus {
    outline: none !important;
    outline-offset: none !important;
}

ul {
    list-style-type: none;
    padding: 0;
}

.menu_user {
    background-color: #f8f9fa;
}
  
.menu_user_li {
    padding: 3em;
    border-bottom: 1px solid #ddd;
}
  
.menu_user_li_active {
    padding: 3em;
    border-bottom: 1px solid #ddd;
    background: #0c6069;
    color: white;
}
  
.menu_user_li:hover {
    background: #739ba0;
}
  
.menu_user_li a {
    color: #666;
}
  
.menu_user_li_active a {
    color: white;
}

.campaign-info{
    padding: 3em;
    text-align: left;
    height:85vh;
    overflow-y:scroll;
}

.campaign-info .name {
    font-family: "DMSans-Regular";
    padding-bottom: 2px;
    border-bottom: 2px solid #478e97;
}

.campaign-info .description {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1em;

}

.image-detail-container.row {
    margin-left: 0;
    margin-right: 0;
}

.image-detail-container{
    margin-top: 3em;
    margin-bottom: 3em;
}

.photos {
    transition: all 0.3s ease-out;
    width: 80%;
    height: auto;
    border-radius: 5px;
}

.photos:hover {
    cursor: pointer;
    position: relative;
    z-index: 999;
    transform: scale(1.2);
}

hr {
    border-top: 3px solid #A9A9A9;
}

.contribute-row {
    text-align: right;
}

.normal-button {
    background-color: #0c6069;
    color: #fff;
    font-family: "DMSans-Regular";
    padding: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 1em;
    margin: 1.5em;
    border-width: 0;
}

.normal-button:hover {
    background: #1a95ac;
    text-decoration: none;
    color: white;
}

.normal-button:visited {
    text-decoration: none;
    color: white;
}

.normal-button:focus {
    text-decoration: none;
    color: white;
    outline: none !important;
    outline-offset: none !important;
}

.badge-created {
    background-color: #0c6069;
    color: white;
}

@font-face {
    font-family: 'DMSans-Regular';
    src: url('/fonts/DMSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('webfont.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'MoonTime-Regular';
    src: url('/fonts/MoonTime-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('webfont.svg#svgFontName') format('svg');
    /* Legacy iOS */
}